name: 'CI'

on:
  push:
    branches:
    - master
    - development
    - features/**
    tags:
    - '*.*.*'
  pull_request:

env:
  DOTNET_NOLOGO: true

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        runs-on: [macOS-latest, ubuntu-latest, windows-latest]
        dotnet-framework: ['net8.0', 'net9.0', 'net10.0']
    name: ${{ matrix.runs-on }}
    runs-on: ${{ matrix.runs-on }}
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - name: Setup dotnet (main)
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: |
          8.0.x
          9.0.x
          10.0.x

    - run: dotnet --info
  
    - name: Ensure build.sh is executable
      run: |
        chmod +x "./build.cmd"
        chmod +x "./build.ps1"
        chmod +x "./build.sh"

    - if: contains(matrix.runs-on, 'macOS') || contains(matrix.runs-on, 'ubuntu')
      name: Build with ${{ matrix.dotnet-framework }}
      run: ./build.sh --framework ${{ matrix.dotnet-framework }}
    - if: matrix.runs-on == 'windows-latest' && github.ref != 'refs/heads/master' && !contains(github.ref, 'refs/tags/')
      name: Build with ${{ matrix.dotnet-framework }}
      run: ./build.ps1 --framework ${{ matrix.dotnet-framework }}
    - if: (matrix.runs-on == 'windows-latest') && (github.ref == 'refs/heads/master' && contains(github.ref, 'refs/tags/'))
      name: Build with ${{ matrix.dotnet-framework }}
      run: ./build.ps1 --framework ${{ matrix.dotnet-framework }}
      # env:
      #   SignClientSecret: ${{ secrets.SIGNCLIENT }}
      # run: |
      #  ./build.ps1 sign
      #  dotnet nuget push .\artifacts\*.nupkg --api-key $NUGET_API_KEY --source https://api.nuget.org/v3/index.json
